@using MyBlog.Core
@using MyBlog.Web
@model MyBlog.Web.Models.CreatePostModel

@{
    ViewBag.Title = Messages.Posts_Create_Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="@Url.Content("~/Scripts/ViewModels/createPostVm.js")" type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(function () {
        var viewModel = new createPostViewModel('/services/coordinates', '/services/timezone', 'services/postslug', 
            '@Messages.Posts_Create_TimeZoneIsLoading', '@Messages.Posts_Create_TimeZoneTemplate');
        viewModel.getCoordinates();
        ko.applyBindings(viewModel);
    });
</script>

<form class="form-horizontal" action="@Url.Action("Create")" method="POST">
    <div data-bind="text: timeZoneAndLocation"></div>
    <div data-bind="if: timeZoneLoaded">
        <input type="hidden" name="TimeZoneId" data-bind="value: timeZoneId" />
        <input type="hidden" name="Started" data-bind="value: startedAt" />
        <input type="hidden" name="Finished" data-bind="value: finishedAt" />
    </div>
    <input type="hidden" name="Slug" data-bind="value: slug"/>
    <p class="lead">
        @Messages.Posts_Create_Title
    </p>

    <div class="control-group">
        <label class="control-label" for="Title">@Messages.Posts_Create_TitleLabel</label>
        <div class="controls">
            @Html.TextBoxFor(x => x.Title, new { @class = "input-xxlarge"}).DataBind("value: title")
        </div>
    </div>
    
    <div class="control-group">
        <label class="control-label" for="Text">@Messages.Posts_Create_TextLabel</label>
        <div class="controls">
            @Html.TextAreaFor(x => x.Text, 10, 20, new { @class = "input-xxlarge" })
        </div>
    </div>
    <div data-bind="if: slugLoaded">
        @Messages.Posts_Create_UrlPreview <div data-bind="text: urlPreview"></div>
    </div>
     <div class="control-group">
         <label class="control-label" for="Tags">@Messages.Posts_Create_TagsLabel</label>
         <div class="controls">
             @Html.TextBoxFor(x => x.Tags, new { @class = "input-xxlarge" })
         </div>
     </div>

     <div class="controls">
     <button type="submit" class="btn btn-primary" data-bind="click: finishPost">@Messages.Posts_Create_SubmitText</button>
     </div>
</form>
