@using MyBlog.Core
@using MyBlog.Web
@model MyBlog.Web.Models.CreatePostModel

@{
    ViewBag.Title = Messages.Posts_Create_Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="@Url.Content("~/Scripts/ViewModels/createPostVm.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/ckeditor/ckeditor.js")" type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(function () {
        var viewModel = new createPostViewModel('/services/coordinates', '/services/timezone', '/services/postslug',
            '@Messages.Posts_Create_TimeZoneIsLoading', '@Messages.Posts_Create_TimeZoneTemplate', '@Messages.Posts_View_SlugPrefix');
        viewModel.getCoordinates();
        ko.applyBindings(viewModel);
        CKEDITOR.replace('ckEditor');
    });
</script>

<form class="form-horizontal" action="@Url.Action("Create")" method="POST">
    <div data-bind="text: timeZoneAndLocation"></div>
    <div data-bind="if: timeZoneLoaded">
        <input type="hidden" name="TimeZoneId" data-bind="value: timeZoneId" />
        <input type="hidden" name="Posted" data-bind="value: localDateTime" />
    </div>
    <input type="hidden" name="Slug" data-bind="value: slug"/>
    @Html.HiddenFor(x => x.BlogId)
    <p class="lead">
        @Messages.Posts_Create_Title
    </p>

    <div class="control-group">
        <label class="control-label" for="Title">@Messages.Posts_Create_TitleLabel</label>
        <div class="controls">
            @Html.TextBoxFor(x => x.Title, new {  @class = "input-xxlarge", data_bind = "value: title" })
        </div>
    </div>
    <div class="control-group" data-bind="if: slugLoaded">
        <label class="control-label" for="UrlPreview">@Messages.Posts_Create_UrlPreview</label>
        <div class="controls">
            <span id="UrlPreview" data-bind="text: urlPreview"></span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="Text">@Messages.Posts_Create_TextLabel</label>
        <div class="controls">
            @Html.TextAreaFor(x => x.Text, 10, 20, new { id = "ckEditor", @class = "input-xxlarge" })
        </div>
    </div>

     <div class="control-group">
         <label class="control-label" for="Tags">@Messages.Posts_Create_TagsLabel</label>
         <div class="controls">
             @Html.TextBoxFor(x => x.Tags, new { @class = "input-xxlarge" })
         </div>
     </div>

     <div class="controls">
        <button type="submit" class="btn btn-primary">@Messages.Posts_Create_SubmitText</button>
     </div>
</form>
