@using MyBlog.Core
@model MyBlog.Web.Models.PostListModel

@{
    ViewBag.Title = Messages.Posts_List_Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach(var post in Model.Posts)
{
    <h4>
        @Html.RouteLink(post.Title, "PostSlug", new { slug = post.Slug })
    </h4>
    <div class="date">
        @string.Format(Messages.Posts_List_CreatedTemplate, post.Created.ToString(Messages.Posts_StandardDateTimeFormat))
    </div>
	<div>
		<div id="post">
			@Html.Raw(post.Text)
		</div>
	</div>
    <text>Tags:</text>
    if (post.Tags.Any())
    {
        <span class="tag_box">
            @foreach (var tag in post.Tags)
            {
                //@Url.Action("Default", "Tag", new { name = tag.Name })
                <a href="http://google.com">@tag.Name <span>@tag.PostCount</span></a>
            }
        </span>
    }
    <hr />
}
